 div.para{
    text-align: center;
    margin-top: 50px;
    font-size:25px ;
    font-family: "Ubuntu",sans-serif;
}
h5{
    font-size: 25px;
}
h2{
    font-size: 50px;
}
p{
    font-size: 20px;
    font-family: 'Open Sans',sans-serif    
}
.align {
    
    width: 275px;
    height: 300px;
    display: inline-block;
    margin-top: 75px;
    margin-left: 20px;
    border-radius: 30px;
    background-size: cover;
    background-position:center;
    font-size:30px ;
    font-weight: bold;
    font-family: "Ubuntu",sans-serif;
    color:white
}
div h1{
    margin-top: 200px;
    margin-left: 25px;
}

.gallery{
    margin-left: 100px;   
}
#photo-1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.402),rgba(0, 0, 0, 0.402)), url(image-1.jpeg)
    
}
#photo-2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.402),rgba(0, 0, 0, 0.402)), url(image-2.jpeg);
    
}
#photo-3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.402),rgba(0, 0, 0, 0.402)), url(image-3.jpeg)
    
}
#photo-4{
    background-image:linear-gradient(rgba(0, 0, 0, 0.402),rgba(0, 0, 0, 0.402)), url(image-4.jpeg);
   
}
